body, html, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  overflow: hidden;
  z-index: -1;
}

.background-video {
  position: absolute;
  top: -100%;
  left: 0;
  width: 120%;
  height: auto;
  object-fit: cover;
}

.content {
  position: relative;
  z-index: 1;
  margin-top: 30rem;
  text-align: center;
  color: white;
  font-size: 2rem;
}
