.header {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 30px;
    color: white;
    padding: 1rem;
    background: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(0px);
    transition: all 0.3s ease;
    z-index: 10;
    opacity: 0;
    pointer-events: none; 
}

body:hover .header,
.header:hover {
  opacity: 1;
  pointer-events: auto;
  background: rgba(31, 31, 31, 0.7);
  backdrop-filter: blur(8px);
}

.header-content {
  width: 95%;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 1.5rem;
}

a {
  color: white;
  margin: 0;
  cursor: pointer;
  transition: color 0.2s ease;
}

a:hover {
  color: #61dafb;
}